<div class="card">
  <section class="professional">
    <img src="{{ professionalData.picture }}" alt="Foto do profissional">
    <aside>
      <h2>{{ professionalData.name }}</h2>
      <button>
        <i class="ph-bold ph-phone-call"></i>
        <span>Ligar para o Profissional</span>
      </button>
    </aside>
  </section>
  <section class="actions">
    <button class="report_button">
      <i class="ph-bold ph-warning"></i>
      <span>Reportar</span>
    </button>
    <button class="rate_button">
      <i class="ph-bold ph-star"></i>
      <span>Avaliar</span>
    </button>
  </section>
</div>
