$app-green: #006557;
$app-highlight-green: #2DA347;
$app-gray: #F8F8F8;
$app-white: #FFFFFF;
$app-red: #E93B3B;
$app-blue: #07689F;

$text-highlight: #334240;
$text-normal: #424F4D;

$text-fluid-16-22: clamp(1rem, calc(1.18rem + 0.26vw), 1.38rem);
