@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif
}

html, body {
  width: 100%;
}

main {
  min-height: 84vh;
  width: 100%;

  background-color: $app-gray;
}
